<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="news.around.theworld">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:icon="@mipmap/ic_app"
            android:label="@string/app_name"
            android:name=".NewsApplication"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".ui.activities.SplashActivity"
                  android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.MainActivity"
        android:configChanges="orientation|screenSize"
        />

        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="04a972f466e2e82d0f61c0b609d1d9b6082d39c2" />

    </application>

</manifest>